{% extends "admin/base.html" %} {% block content %}
<!-- Blog Section Start -->
    <section id="Blog">
      <div class="blog-title">
        <div><h1>Blog</h1></div>
      </div>
      <form action="">
        <div class="blog-input">
          <input type="file" class="form-control" placeholder="Add İmage" />
        </div>
        <div class="blog-input">
          <input type="text" class="form-control" placeholder="Add Title" />
        </div>
        <div class="blog-input">
          <input type="date" class="form-control" placeholder="Add Date" />
        </div>
        <div class="blog-input">
          <input type="submit" class="button" value="Add New Blog" />
        </div>
      </form>
      <div class="resume-table">
        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead>
                <tr>
                  <th>İd</th>
                  <th>Şəkil</th>
                  <th>Başlıq</th>
                  <th>Tarix</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><i class="fa-solid fa-trash"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
{% endblock %}