{% extends "admin/base.html" %} {% block content %}
<!-- <section id="Contact">
      <div class="Contact-title">
        <div><h1>Contact</h1></div>
      </div>
      <div class="contact-table">
        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Ad Soyad</th>
                  <th>Mail</th>
                  <th>Mesaj</th>
                  <th>Tarix</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><i class="fa-solid fa-trash"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section> -->
 {% endblock %}
