{% extends "admin/base.html" %} {% block content %}
<!-- <section id="Portfolio">
      <div class="Header">
        <div><h1>Portfolio</h1></div>
      </div>
      <form action="">
        <div class="portfolio-input">
          <input type="file" class="form-control" />
        </div>
        <div class="portfolio-input">
          <input type="submit" class="button" value="Add New İmage" />
        </div>
      </form>
      <div class="resume-table">
        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead>
                <tr>
                  <th>İd</th>
                  <th>Şəkil</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td><i class="fa-solid fa-trash"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section> -->

{% endblock %}