{% extends "admin/base.html" %} {% block content %}
 <!-- <section id="Resume">
      <div class="Top">
        <div class="title">Resume</div>
      </div>
      <form action="">
        <div class="resume-input">
          <input type="date" class="form-control" placeholder="Tarix" />
        </div>
        <div class="resume-input">
          <input type="text" class="form-control" placeholder="Universitet" />
        </div>
        <div class="resume-input">
          <input type="text" class="form-control" placeholder=" İxtisas" />
        </div>
        <div class="resume-input">
          <input type="submit" class="button" value="Add New Info" />
        </div>
      </form>
      <div class="resume-table">
        <div class="row">
          <div class="col-12">
            <table class="table">
              <thead>
                <tr>
                  <th>İd</th>
                  <th>Tarix</th>
                  <th>Universitet</th>
                  <th>İxtisas</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><i class="fa-solid fa-trash"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section> -->









{% endblock %}