* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Container Section Start */
.sidebar {
  height: 100vh;
  width: 200px;
  top: 0px;
  left: 0px; 
  box-sizing: border-box;
  position: fixed;
 
}
.background {
  height: 730px;
  width: calc(100%-200px);
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  margin-left: 200px;
  border: 1px solid gray;
  background-image: url(https://lmpixels.com/demo/unique/unique-vcard/images/main_bg_light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center center;
}

.background-title {
  margin-top: 300px;
}
.background-title h1 {
  color: #ff724c;
  font-size: 60px;
  font-weight: 700;
  font-family: oxygen, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  line-height: 1.5em;
}

.background-title h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-size: 30px;
}
.sidebar {
  background-color:#222;
}
.header {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}
.image img {
  width: 100px;
  height: 100px;
  text-align: center;
  margin-left: 50px;
  margin-top: 25px;
  border-radius: 5px;
}
.sidebar-item {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: blue;
  justify-content: space-between;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400px;
  font-family: oxygen, Helvetica, sans-serif;
  padding: 10px 10px;
}


/* Container Section End */

/* About Me Start */
#About-Me{
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #222;
  width: 1200px;
  height: 1000px;
  margin: 0px auto;
  margin-right: 0px;
  margin-top: 50px;
  margin-left: 250px;
  
}
 /* Part 1 start */
.Part-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.Header{

height: 100px;
display: flex;
flex-direction: column;
justify-content: center;
text-align:center ;
}

.Main{
 
  height: 300px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.foto{
  width: 33.33333333%;
  margin-left: 10px;
  margin-top: 10px;
}
.foto img{
width: 300px;;
height: 300px;
}

.paragraph{
  box-sizing: border-box;
  width: 33.33333333%;
  margin-top: 10px;
  margin-left: 10px;
}

.paragraph H1,p{
  color: #fff;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Header h1{
  color: #555;
  font-size: 60px;
  font-weight: 700;
  font-family: oxygen, Helvetica, sans-serif;
 
}
.Header h5{
color: #fff;
background-color:#ff724c ;
margin: 0px;
padding: 0px 10px;
}

.info{
width: 33.33333333%;
box-sizing: border-box;
margin-top: 10px;
margin-left:20px;
display: flex;
flex-direction: column;
}

.rows li a{
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}

.rows ul li{
  list-style-type: none;
}
.social-media li a {
  margin-top: 20px;
  list-style-type: none;
  color: #fff;
  text-decoration: none;
 display: flex;
 justify-content: space-between;
}
#Part-2{
margin-top: 20px;
width: 1200px;
height: 580px;
text-align: center;
padding-top: 10px;
}
.Services{
height: 145px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.Servic-1{
width: 400px;
height: 145px;
}

.Servic-1 img{
width: 50px;
height: 50px;
}
.Servic-1 h1{
color: #fff;
}
.Servic-1 span{
color: #fff;
}
.Servic-2{

width: 400px;
height: 145px;
}
.Servic-2 img{
width: 50px;
height: 50px;
}
.Servic-2 h1{
color: #fff;
}
.Servic-2 span{
color: #fff;
}
.Servic-3{
width: 400px;
height: 145px;
}
.Servic-3 img{
width: 50px;
height: 50px;
}
.Servic-3 h1{
color: #fff;
}
.Servic-3 span{
color: #fff;
}
.Servic-4{
width: 400px;
height: 145px;
}
.Servic-4 img{
width: 50px;
height: 50px;
}
.Servic-4 h1{
color: #fff;
}
.Servic-4 span{
color: #fff;
}
.Clients{
height: 145px;
display: flex;
flex-direction: row;
justify-content: space-between;

}
.Clients img{
width: 80px;
height: 80px;
color: #fff;
text-align: center;
margin-top: 20px;
left: 20px;
right: 20px;
}
.Testimonials{
height: 145px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.Testimonials img{
width: 60px;
height: 60px;
}
.Testimonials p{
color: #fff;
font-size: 11px;
font-weight: 400;
padding: 10px;
margin-top: 5px;
background-image: #333;
}
.Testimonials span{
color: #fff;
}

.Fun-Facts{
height: 145px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
 
.Fun-Facts i{
color: #555;
font-size: 50px;
margin-top: 5px;
}

.Fun-Facts h1{
color: #fff;
margin: 5px;
}
.Fun-Facts span{
color: #ff724c;
}

#Resume{
  box-sizing: border-box;
  background-color: #222;
  width: 1200px;
  height: 800px;
  margin: 0px auto;
  margin-right: 0px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Top{
height: 200px;
text-align: center;



}
.title{
display: block;
color: #555555;
margin-top: 7px;
font-size: 70px;

}
.description{
display: inline-block;
color: #fff;
background-color: #ff724c;

}
.Bottom{
height: 700px;
display: flex;
flex-direction: row;
justify-content: space-around;

}
.Education{
width: 600px;
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
    
}

.Education h1{
color: #fff;
border-left: 5px solid #ff724c;
font-size: 22px;
font-weight: 400;
padding-top: 15px ;
padding-bottom: 15px ;
}

.Education h5{
display: inline-block;
background-color: #ff724c;
color: #fff;
font-size: 20px;
font-weight: 500;
padding-top: 10px;
padding-bottom: 10px;
}

.Education h3{
color: #fff;
font-size: 20px;
font: weight 400px;
padding-left: 10px;
padding-bottom: 10px;
}
.Education span{
  color: #a5a5a5;
  margin: 0 0 4px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.45em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Education p{
color: #a5a5a5;
font-size: 15px;
font-weight: 500;
padding-top: 10px;
padding-bottom: 10px;
}
.Experience{
width: 600px;
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.Experience h1{
  color: #fff;
  border-left: 5px solid #ff724c;
  font-size: 22px;
  font-weight: 400;
  padding-top: 15px ;
  padding-bottom: 15px ;
}
.Experience h5{
  display: inline-block;
  background-color: #ff724c;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Experience h3{
  color: #fff;
  font-size: 20px;
  font: weight 400px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.Experience span{
  color: #a5a5a5;
  margin: 0 0 4px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.45em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Experience p{
  color: #a5a5a5;
  font-size: 15px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Footer{
border: 1px solid blue;
height: 100px;
}
/* botton hissesi alınmadı sabah sorus */
.Footer Button{
 color: #fff;
 margin-left: 100px;
}
/* Resume Section End */

/* Contact Section Start */
#Contact{
  width:1200px ;
  height: 845px;
  background-color: #222;
  margin: 0px auto;
  margin-right: 0px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Contact-title{
border: 1px solid white;
height: 700px;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
}
.Contact-title h1{
color: #555;
font-size: 70px;
}
.Contact-title span{
background-color: #ff724c;
color: #fff;
}
.Contact-body{
border: 1px solid yellow;
height: 700px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
 .info{
   border: 1px solid red;
   width: 600px;
   padding-top: 20px;
  
 }
.info h1{
  color: #fff;
  border-left: 5px solid #ff724c;
  padding-top: 10px;
  padding-bottom: 20px;
}
.info p{
  color: #fff;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 20px;


}
 .items{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   color: #fff;
   padding-top: 10px;
   padding-bottom: 20px;
 }
 

 .form{
   border: 1px solid green;
   width: 600px;
 }
